Flask == 1.1.2
Flask_Cors == 3.0.10
Pillow == 7.1.2
Werkzeug == 1.0.1
absl_py == 0.10.0
matplotlib == 3.2.1
numpy == 1.19.5
opencv_python_headless == 4.5.1.48
protobuf == 3.12.2
requests == 2.21.0
tensorflow_gpu == 2.0.0
tqdm == 4.53.0
ujson == 4.0.1
